body{
    margin: 0;
    box-sizing: border-box;
}

.navbar{
    background-color: #0f172a;
    color: #ffffff;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navbar ul{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar a{
    text-decoration: none;
    color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.navbar a:hover{
    background-color: #1e293b;
}
/*1.html 3.html*/
.section{
    position: absolute;
    background-image: url(image/haikei1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    padding-top: 80px;
}

.section3{
    padding-top: 80px;
}

.area{
    width: 90%;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
}

.area-item{
    margin-bottom: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px;
    overflow: hidden;
}

.area-item img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    float: left;
    margin-right: 20px;
}

.area-content{
    padding: 10px;
}
/*5html*/
.main img{
    width: 30%;
    border-radius: 50px;
}

.main{
    text-align: center;
    padding: 50px;
}
/*4html*/
.section4{
    padding-top: 80px;
}
.contents {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
}

.food{
    width: 30%;
    background-color: #f0f0f0;
    text-align: center;
    margin-top: 50px;
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 5px;
}

.food img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

/*home*/
.section-home{
    padding-top: 80px;
}

.image-section img{
    position: fixed;
    right: 0;
    width: 50%;
    margin-right: 10px;
    border-radius: 10px;
    box-sizing: border-box;
}

.introduction{
    padding-left: 80px;
    padding-top: 90px;
    padding-bottom: 90px;
    text-align: left;
    box-sizing: border-box;
}

.site-purpose{
    position: fixed;
    top: 80%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #476086;
    color: #f0f0f0;
}
/*html2*/
.section2{
    padding-top: 80px;
    background-color: #476086;
    overflow: hidden;
}

.area2{
    width: 90%;
    margin: 30px auto;
}

.area-item2{
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 30px;
}

.content2:nth-of-type(even) .area-item2{
    flex-direction: row-reverse;
}

.area-item2 img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin-right: 20px;
}

.content2:nth-of-type(even) .area-item2 img {
    margin-right: 0;
    margin-left: 20px;
}

.area-content{
    flex: 1;
    padding: 10px;
    text-align: justify;
}

